* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url('./img/bg-sea-hang.webp');
  background-size: cover; /* Масштабирует изображение, чтобы оно покрывало весь экран */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Избегает повторения изображения */
  background-attachment: fixed; /* Фиксирует фон при прокрутке */
}

/* дождь */
#rainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Чтобы не мешать взаимодействию с остальными элементами */
  z-index: 1;
}

.container {
  display: grid;
  width: 100vw; /* Охватывает всю ширину экрана */
  height: 100vh; /* Охватывает всю высоту экрана */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  overflow: hidden; /* предотвратит появление прокрутки при анимации расширения кнопок */
  grid-template-areas:
    '  .      .      .      .      .      .      .      .      .      .      .     .'
    '  .      .      .      .   KeyQ   KeyQ   KeyW   KeyW   KeyE   KeyE      .     .'
    '  .      .      .      .   KeyQ   KeyQ   KeyW   KeyW   KeyE   KeyE      .     .'
    '  .      .      .      .   KeyA   KeyA   KeyS   KeyS   KeyD   KeyD      .     .'
    '  .      .      .      .   KeyA   KeyA   KeyS   KeyS   KeyD   KeyD      .     .'
    '  .      .      .      .   KeyZ   KeyZ   KeyX   KeyX   KeyC   KeyC      .     .'
    '  .      .      .      .   KeyZ   KeyZ   KeyX   KeyX   KeyC   KeyC      .     .'
    '  .      .      .      .      .      .      .      .      .      .      .     .'
    '  .      .      .      .      .      .      .      .      .      .      .     .'
    '  .      .      .      .      .      .      .      .      .      .      .     .'
    '  .      .      .      .      .      .      .      .      .      .      .     .'
    'Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8 Digit9 Digit0 Minus Equal';
}

.digits,
.letters {
  display: contents; /* Это позволяет каждому элементу внутри использовать grid-area */
}

/* кнопки */
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./img/hang-256.png') no-repeat center;
  background-size: contain; /* Сохраняет пропорции изображения и отображает его целиком */
  cursor: pointer;
}

/* текст кнопки */
kbd {
  align-self: flex-end;
  font-size: 10px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 0 10px #0e0f0f;
}

/* увеличение кнопок при нажатии */
.playing.key {
  transform: scale(1.1);
}

/* цифры */
.Digit1 {
  grid-area: Digit1;
}
.Digit2 {
  grid-area: Digit2;
}
.Digit3 {
  grid-area: Digit3;
}
.Digit4 {
  grid-area: Digit4;
}
.Digit5 {
  grid-area: Digit5;
}
.Digit6 {
  grid-area: Digit6;
}
.Digit7 {
  grid-area: Digit7;
}
.Digit8 {
  grid-area: Digit8;
}
.Digit9 {
  grid-area: Digit9;
}
.Digit0 {
  grid-area: Digit0;
}
/* - + */
.Minus {
  grid-area: Minus;
}
.Equal {
  grid-area: Equal;
}
/* квадрат нот QWEASDZXC */
.KeyQ {
  grid-area: KeyQ;
}
.KeyW {
  grid-area: KeyW;
}
.KeyE {
  grid-area: KeyE;
}
.KeyA {
  grid-area: KeyA;
}
.KeyS {
  grid-area: KeyS;
}
.KeyD {
  grid-area: KeyD;
}
.KeyZ {
  grid-area: KeyZ;
}
.KeyX {
  grid-area: KeyX;
}
.KeyC {
  grid-area: KeyC;
}
